<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= user.firstname %>
  </p>

  <p>
    <strong>Emailadd:</strong>
    <%= user.emailadd %>
  </p>

  <p>
    <strong>Mobileno:</strong>
    <%= user.mobileno %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Passwd:</strong>
    <%= user.passwd %>
  </p>

</div>
